#bloquePerfil {
	min-height: 50px;
	max-height: 50px !important;
}

#imgPerfil {
	border-radius: 4px;
	height: 50px;
	width: 50px;
	margin-right: 3px;
}

.img100 {
	height: 100px;
	width: 100px;
}

.img50 {
	height: 50px;
	width: 50px;
}

.img40 {
	height: 40px;
	width: 40px;
}

.navbar {
	margin-bottom: 0px !important;
}

.cabecera {
	background: url('/images/cabecera.jpg') center center;
	background-size: cover;
}

.container {
	color: #ffffff;
}

.navbar-me {
	margin-bottom: 20px !important;
}