{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block content %}
<div class="col-lg-9">
	<div class="panel panel-default">
		<table class="table table-striped">
			<thead>
				<th>Piloto/Circuito</th>
				{% for carrera in carreras %}
					<th>{{ carrera['nombre'] }}</th>
				{% endfor %}
			</thead>
			<tbody>
				{% for piloto in pilotos %}
				<tr>
					<td>{{ piloto['nombre_completo'] }}</td>
					{% for carrera in carreras %}

							{% set test = false %}
							{% for estado in estados %}
								{% if carrera['id'] == estado['carrera_id'] %}
									{% if  piloto['id'] == estado['piloto_id'] %}
										{% if estado['estado'] == 1 %}
											<td class="success">Asiste</td>
											{% set test = true %}
										{% elseif estado['estado'] == 2 %}
											<td class="info">Justifica falta</td>
											{% set test = true %}
										{% elseif estado['estado'] == 3 %}
											<td class="warning">Falta sin justificar</td>
											{% set test = true %}
										{% elseif estado['estado'] == 4 %}
											<td class="danger">Sanción</td>
											{% set test = true %}
										{% else %}
											{% if test == false %}
												<td></td>
											{% endif %}
										{% endif %}
										{% set test = true %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if test == false %}
								<td></td> 
							{% endif %}

						{% set test = false %}
					{% endfor %}				
				</tr>
				{% else %}
					<tr><td>Todavía no se han registrado faltas ni controles.</td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}