{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block head %}
<style type="text/css">
	.img-circle {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}

</style>
{% endblock %}

{% block DropDownMenu %}{% endblock %}

{% block categorias %}
<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" src="" alt="...">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Formula 1</h4>
		<p>Categoría reina de F1Mallorca.</p>
		<small>0 plazas disponibles.</small>
	</div>
</div>
<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" src="" alt="...">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Turismos SR8</h4>
		<p>Categoría de turismos rápidos.</p>
		<small>13 plazas disponibles.</small>
		<button type="button" class="btn btn-info btn-xs">Inscribirse</button>
	</div>
</div>
{% endblock %}

{% block bloque %}
{% for race in carrera %}
	<p>{{ race['nombre'] }} el {{ race['fecha']|date('d/m/Y') }} a las {{ race['hora']|date('H:i') }}</p>
{% endfor %}
{% endblock %}

{% block modal %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Registro de usuario</h4>
      </div>
      <form method="post" action="{{ urlFor('registroUsuario') }}" role="form">
      <div class="modal-body">
			<div class="form-group">
				<label for="inputUsuario">Nombre de usuario</label>
				<input type="text" class="form-control" id="inputUsuario" name="inputUsuario" placeholder="Nombre que se utilizará para acceder a la web" required>
			</div>
			<div class="form-group">
				<label for="inputPassword">Contraseña</label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Contraseña del usuario de acceso a la web" required>
			</div>
			<div class="form-group">
				<label for="inputPassword2">Repita la contraseña</label>
				<input type="password" class="form-control" id="inputPassword2" name="inputPassword2" required>
			</div>
			<div class="form-group">
				<label for="inputNombreCompleto">Nombre completo</label>
				<input type="text" class="form-control" id="inputNombreCompleto" name="inputNombreCompleto" placeholder="Nombre público, por ejemplo: Fernando Alonso (¡Nombre REAL!)" required>
			</div>
			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email, necesario para confirmar la cuenta" required>
			</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button type="submit" class="btn btn-success">Registrarme</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}