{#  VELOCI - Web application for management races
	Copyright (C) 2014: Adrián Pérez López

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block head %}
<style type="text/css">
	.img-circle {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}

</style>
{% endblock %}

{% block DropDownMenu %}{% endblock %}

{% block login %}
{% if id %}
	<img src="images/yo.jpeg" alt="avatar" class="img-circle img-responsive">
	<h2 class="text-center">{{ usuario }}</h2>
{% else %}
	<form role="form" method="post" action="{{ urlFor('accederPrincipal') }}">
		<div class="form-group">
			<label for="inputUsuario">Nombre de usuario</label>
			<input type="text" class="form-control" id="inputUsuario" name="inputUsuario" placeholder="Usuario">
		</div>
		<div class="form-group">
			<label for="inputPassword">Contraseña</label>
			<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Contraseña del usuario">
		</div>
		<button type="submit" class="btn btn-info">Identificarse</button>
	</form>
{% endif %}
{% endblock %}

{% block categorias %}
<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" src="" alt="...">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Formula 1</h4>
		<p>Categoría reina de F1Mallorca.</p>
		<small>0 plazas disponibles.</small>
	</div>
</div>
<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" src="" alt="...">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Turismos SR8</h4>
		<p>Categoría de turismos rápidos.</p>
		<small>13 plazas disponibles.</small>
		<button type="button" class="btn btn-info btn-xs">Inscribirse</button>
	</div>
</div>
{% endblock %}